@import '../styles/index.scss';

.filter {
  &__dropdown-btn {
    align-items: center;
    background-color: $dark-blue-1;
    border: none;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: $font-size-small;
    font-weight: $font-weight-semi-bold;
    height: 50px;
    justify-content: space-between;
    padding: 0 15px;
    position: relative;
    width: 200px;
  }

  &__dropdown-box {
    background-color: $dark-blue-1;
    border-radius: 5px;
    box-sizing: border-box;
    color: $white;
    font-size: $font-size-small;
    font-weight: $font-weight-semi-bold;
    margin-top: 5px;
    padding: 7px 15px;
    position: absolute;
    width: 200px;
  }

  &__dropdown-option {
    cursor: pointer;
    margin: 7px 0;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}
