@import '../styles/index.scss';

.search-bar {
  position: relative;
  width: 450px;

  &__magnifying-glass-icon {
    bottom: 0;
    color: $white;
    left: 25px;
    margin: auto;
    top: 0;
    position: absolute;
  }

  &__input {
    background-color: $dark-blue-1;
    border: none;
    border-radius: 5px;
    color: $white;
    font-size: $font-size-small;
    font-weight: $font-weight-semi-bold;
    height: 50px;
    outline: none;
    padding-left: 60px;
    width: 100%;

    &::placeholder {
      color: $white;
      font-family: $font-primary;
      font-weight: $font-weight-semi-bold;
    }
  }

  &__matches-box {
    background-color: $dark-blue-1;
    border-radius: 5px;
    color: $white;
    font-size: $font-size-small;
    font-weight: $font-weight-semi-bold;
    margin-top: 5px;
    max-height: 150px;
    overflow-y: scroll;
    position: absolute;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__match {
    cursor: pointer;
    margin: 7px 0;
    padding: 0 60px;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}
