@import '../styles/index.scss';

.homepage {
  background-color: $dark-blue-2;
  min-height: 100vh;
  width: 100%;

  &__content {
    margin: auto;
    max-width: 1440px;
    padding: 0 40px;
  }

  &__search-and-filter {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
  }
}
