@import '../styles/index.scss';

.country-details {
  background-color: $dark-blue-2;
  min-height: calc(100vh - 80px);
  width: 100%;

  &__container {
    max-width: 1440px;
    margin: auto;
    padding: 80px 40px 0;
  }

  &__back-button {
    background-color: $dark-blue-1;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    color: $white;
    display: inline-block;
    font-size: $font-size-small;
    font-weight: $font-weight-semi-bold;
    padding: 7px 35px;
    text-decoration: none;
  }

  &__arrow-icon {
    margin-right: 10px;
  }

  &__country-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
  }

  &__country-flag {
    height: 450px;
    width: 50%;

    @media (max-width: $l) {
      width: 100%;
    }
  }

  &__country-flag-img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__country-info {
    color: $white;
    width: 45%;

    @media (max-width: $l) {
      margin-top: 50px;
      width: 100%;
    }
  }

  &__country-name {
    font-size: $font-size-large;
    margin: 0 0 40px;

    @media (max-width: $l) {
      text-align: center;
    }
  }

  &__country-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: $l) {
      justify-content: center;
    }

    &--left {
      display: flex;
      flex-direction: column;
      margin-right: 10px;

      @media (max-width: $l) {
        align-items: flex-start;
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      @media (max-width: $l) {
        align-items: center;
      }
    }
  }

  &__country-detail {
    font-weight: $font-weight-semi-bold;
    margin-bottom: 5px;

    &--border {
      display: inline-block;
      margin-bottom: 0;
      min-width: 23%;

      @media (max-width: $l) {
        min-width: 16%;
      }
    }
  }

  &__country-detail-info {
    font-weight: $font-weight-light;
  }

  &__border-countries {
    display: flex;
    margin-top: 50px;

    @media (max-width: $l) {
      justify-content: center;
    }
  }

  &__border-countries-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin-left: 7px;
  }

  &__border-country-link {
    background-color: $dark-blue-1;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: $white;
    cursor: pointer;
    padding: 5px 15px;
    text-decoration: none;
  }
}
