@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

// breakpoints
$xs: 375px;
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;
$xxl: 1440px;

// colors
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 98%);
$dark-gray: hsl(0, 0%, 52%);
$dark-blue-1: hsl(209, 23%, 22%);
$dark-blue-2: hsl(207, 26%, 17%);
$dark-blue-3: hsl(200, 15%, 8%);

// typography
$font-primary: 'Nunito Sans', sans-serif;

$font-size-small: 14px;
$font-size-medium: 16px;

$font-weight-light: 300;
$font-weight-semi-bold: 600;
$font-weight-extra-bold: 800;
